import serial
import re
import threading
import time
import datetime
import json

BOARD_ID = "TEST"
OFFSET = 0
#@readingports@#

#@update@#
#@flush@#

def program():
	global BOARD_ID
	global OFFSET
#@use_global_variables@#
#@datacollectionpolicy@#
	flush()

#@dataacquisition@#

def currentTime():
	datetime.datetime.now().time()

def send(v):
	send(v, v["src"]);

def send(v, origin):
	v["src"] = origin
	print(v)


#@exec@#