def #@name@#():
	global lastValue_#@id@#
	while True:
		ser = serial.Serial(#@id@#_PORT, 9600, timeout=1)
		try:
			lastValue_#@id@# = json.loads(ser.readline().decode("ascii"))
			program()
		except Exception:
			pass