void #@name@#(AnalogPortInformation * Sender) {
    int value = Sender->value;
    Data d = {'#@common_name@#', value};
    last_#@id@# = {currentTime(), d, BOARD_ID};
    lastUpdate_#@id@# = last_#@id@#.t;
    program();
}