void #@name@#(TimerInformation * Sender) {
    int value = analogRead(#@port@#);
    inner_SmartCampusType d = {'#@common_name@#', value, currentTime()}; //SmartCampus format
    last_#@id@# = {currentTime(), BOARD_ID, d};
    lastUpdate_#@id@# = last_#@id@#.t;
    program();
}